In [1]:
# импортируем нужные библиотеки
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
# считываем данные из файла
data = pd.read_csv('D:/taxi/yellow_tripdata_2016-05.csv', parse_dates = ["tpep_pickup_datetime", "tpep_dropoff_datetime"])

In [18]:
#смотрим на шапку таблицы, проверяем корректность считывания данных
data.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,2016-05-01,2016-05-01 00:17:31,1,3.60,-73.985901,40.768040,1,N,-73.983986,40.730099,1,15.0,0.5,0.5,1.50,0.0,0.3,17.80
1,2,2016-05-01,2016-05-01 00:07:31,1,1.68,-73.991577,40.744751,1,N,-73.975700,40.765469,1,7.5,0.5,0.5,0.88,0.0,0.3,9.68
2,2,2016-05-01,2016-05-01 00:07:01,6,1.09,-73.993073,40.741573,1,N,-73.980995,40.744633,1,6.5,0.5,0.5,1.56,0.0,0.3,9.36
3,2,2016-05-01,2016-05-01 00:19:47,1,4.21,-73.991943,40.684601,1,N,-74.002258,40.733002,1,17.0,0.5,0.5,3.66,0.0,0.3,21.96
4,2,2016-05-01,2016-05-01 00:06:39,1,0.56,-74.005280,40.740192,1,N,-73.997498,40.737564,1,6.0,0.5,0.5,1.46,0.0,0.3,8.76

In [6]:
#Посмотрим тип переменных в датафрейме
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11836853 entries, 0 to 11836852
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[ns]
 2   tpep_dropoff_datetime  datetime64[ns]
 3   passenger_count        int64
 4   trip_distance          float64
 5   pickup_longitude       float64
 6   pickup_latitude        float64
 7   RatecodeID             int64
 8   store_and_fwd_flag     object
 9   dropoff_longitude      float64
 10  dropoff_latitude       float64
 11  payment_type           int64
 12  fare_amount            float64
 13  extra                  float64
 14  mta_tax                float64
 15  tip_amount             float64
 16  tolls_amount           float64
 17  improvement_surcharge  float64
 18  total_amount           float64
dtypes: datetime64[ns](2), float64(12), int64(4), object(1)
memory usage: 1.7+ GB

In [5]:
# проверяем размер датафрейма
data.shape

(11836853, 19)

In [3]:
data["tpep_pickup_datetime"] = data["tpep_pickup_datetime"].replace(second=0, microsecond=0, minute=0, hour=data["tpep_pickup_datetime"].hour)

AttributeError: 'Series' object has no attribute 'hour'

In [ ]:
data["tpep_pickup_datetime"] = data["tpep_pickup_datetime"].apply(lambda x: datetime.strptime(str(x), "%Y-%m-%d %H:%M:%S"))

In [43]:
from datetime import time
a = data.tpep_pickup_datetime[10001]
b = (str(a.year) + "-" + str(a.month) + "-" + str(a.day) + "-" + str(a.time()))
#c = datetime.strptime(b, "%Y-%m-%d-%H")
d = (a.replace(second=0, microsecond=0, minute=0, hour=a.hour))
d

Timestamp('2016-05-04 22:00:00')

In [8]:
data.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,tpep_pickup_datetime2
0,1,2016-05-01,2016-05-01 00:17:31,1,3.60,-73.985901,40.768040,1,N,-73.983986,40.730099,1,15.0,0.5,0.5,1.50,0.0,0.3,17.80,2016-05-01
1,2,2016-05-01,2016-05-01 00:07:31,1,1.68,-73.991577,40.744751,1,N,-73.975700,40.765469,1,7.5,0.5,0.5,0.88,0.0,0.3,9.68,2016-05-01
2,2,2016-05-01,2016-05-01 00:07:01,6,1.09,-73.993073,40.741573,1,N,-73.980995,40.744633,1,6.5,0.5,0.5,1.56,0.0,0.3,9.36,2016-05-01
3,2,2016-05-01,2016-05-01 00:19:47,1,4.21,-73.991943,40.684601,1,N,-74.002258,40.733002,1,17.0,0.5,0.5,3.66,0.0,0.3,21.96,2016-05-01
4,2,2016-05-01,2016-05-01 00:06:39,1,0.56,-74.005280,40.740192,1,N,-73.997498,40.737564,1,6.0,0.5,0.5,1.46,0.0,0.3,8.76,2016-05-01

### удаляем ненужные строки, нулевые поездки, поездки без людей и т.д.

In [3]:
# узнаем количество поездок с нулевой длительностью
data_zero_time = data[data.tpep_pickup_datetime == data.tpep_dropoff_datetime]
data_zero_time.shape

(12268, 19)

In [17]:
#удаляем из данных эти поездки
data = data.loc[data.tpep_pickup_datetime != data.tpep_dropoff_datetime]

In [18]:
#проверяем новый размер
data.shape

(11824585, 19)

In [11]:
#проводим вычесления, все ли строки были удалены. Должен получиться ноль.
11836853 - 12268 - 11824585

0

In [14]:
data[data.passenger_count == 0].shape

(522, 19)

In [19]:
# удаляем строки с нулевым количеством пассажиров
data = data.loc[data.passenger_count != 0]
data.shape

(11824063, 19)

In [17]:
#удаляем строки с нулевым расстоянием за поездку
data[data.trip_distance == 0].shape

(60641, 19)

In [20]:
data = data.loc[data.trip_distance != 0]
data.shape

(11763422, 19)

In [21]:
11824063 - 11763422

60641

### фильтрация по координатам 
Нью-Йорк вписан в прямоугольник от -74.25559 до -73.70001 градусов долготы и от 40.49612 до 40.91553 широты. 
удалим координаты начала, не попадающие в прямоугольник Нью-Йорка.

In [22]:
# налаживаем условия на pickup_longitude, что бы он был в границах от -74.25559 до -73.70001
data = data.loc[data.pickup_longitude>=-74.25559]
data.shape

(11763136, 19)

In [23]:
data = data.loc[data.pickup_longitude<=-73.70001]
data.shape

(11626878, 19)

In [24]:
# налаживаем условия на pickup_latitude, что бы он был в границах 40.49612 до 40.91553
data = data.loc[data.pickup_latitude <=40.91553]
data.shape

(11626543, 19)

In [25]:
data = data.loc[data.pickup_latitude >=40.49612]
data.shape

(11626521, 19)

### импортируем координаты районов, по которым будет происходить разбиение

In [14]:
regions = pd.read_csv('regions.csv', sep = ";")

pandas.core.series.Series