In [3]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv("ab_browser_test.csv", sep = ",")

In [7]:
data.columns

Index([u'userID', u'browser', u'slot', u'n_clicks', u'n_queries',
       u'n_nonclk_queries'],
      dtype='object')

In [11]:
data_c = data[data.slot == "control"]
data_exp = data[data.slot == "exp"]

In [8]:
data.head()

   userID     browser     slot  n_clicks  n_queries  n_nonclk_queries
0       1  Browser #2      exp        23         32                19
1       3  Browser #4      exp         3          4                 2
2       5  Browser #4      exp        29         35                16
3       6  Browser #4  control        12          6                 0
4       7  Browser #4      exp        54         68                30

In [19]:
n_c = data_c.n_clicks.sum()
n_c

3210027

In [20]:
n_exp = data_exp.n_clicks.sum()
n_exp

3261823

In [25]:
((3261823.-3210027.) / 3210027)*100

1.6135689824415809

In [26]:
def get_bootstrap(data, n_samples):
    incides = np.random.randint(0, len(data), (n_samples, len(data)))
    samples = data[incides]
    return samples

def stat_intervals(stat, alpha):
    boundaries = np.percentile(stat, [100 * alpha / 2., 100 * (1-alpha/2.)])
    return boundaries

In [29]:
np.random.seed(0)

data_c_med = map(np.median, get_bootstrap(data_c.n_clicks.values, 100))
data_exp_med = map(np.median, get_bootstrap(data_exp.n_clicks.values, 100))

bound_c_med = stat_intervals(data_c_med, 0.05)
bound_exp_med = stat_intervals(data_exp_med, 0.05)

print("Interval median LIMIT_BAL, c_med: [%d, %d]" % (bound_c_med[0], bound_c_med[1]))
print("Interval median LIMIT_BAL, exp_med: [%d, %d]" % (bound_exp_med[0], bound_exp_med[1]))

Interval median LIMIT_BAL, c_med: [4, 4]
Interval median LIMIT_BAL, exp_med: [5, 5]

In [31]:
np.random.seed(0)

data_c_mean = map(np.mean, get_bootstrap(data_c.n_clicks.values, 1000))
data_exp_mean = map(np.mean, get_bootstrap(data_exp.n_clicks.values, 1000))

bound_c_mean = stat_intervals(data_c_mean, 0.05)
bound_exp_mean = stat_intervals(data_exp_mean, 0.05)

print("Interval median LIMIT_BAL, c_med: [%d, %d]" % (bound_c_mean[0], bound_c_mean[1]))
print("Interval median LIMIT_BAL, exp_med: [%d, %d]" % (bound_exp_mean[0], bound_exp_mean[1]))

Interval median LIMIT_BAL, c_med: [11, 11]
Interval median LIMIT_BAL, exp_med: [11, 11]