In [6]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import pearsonr
from statsmodels.sandbox.stats.multicomp import multipletests

In [9]:
auc = pd.read_table("auc.txt")
auc.columns

C:\ProgramData\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  """Entry point for launching an IPython kernel.

Index([u'Unnamed: 0', u'C4.5', u'C4.5+m', u'C4.5+cf', u'C4.5+m+cf'], dtype='object')

In [29]:
w_stat = pd.DataFrame(columns = ["model_1", "model_2", "wilcoxon", "p-value"])
z = ([['C4.5', 'C4.5+m'],['C4.5','C4.5+cf'],['C4.5','C4.5+m+cf'], ['C4.5+m', 'C4.5+cf'],['C4.5+m','C4.5+m+cf'], ['C4.5+cf','C4.5+m+cf']])
z
for i in range(len(z)):
    j,k = z[i]
    st = stats.wilcoxon(auc[j] - auc[k])
    w_stat.loc

IndexingError: Too many indexers

In [24]:
bb = stats.wilcoxon(auc["C4.5"] - auc["C4.5+m"])

0.01075713311978963

In [31]:
from itertools import combinations
w_stat = pd.DataFrame(columns = ["model_1", "model_2", "wilcoxon", "p-value"])

k = 0
for i, j in combinations([1,2,3,4],2):
    w_stat.loc[k, "model_1"], w_stat.loc[k, "model_2"] = auc.columns[i], auc.columns[j]
    w_stat.loc[k, "wilcoxon"], w_stat.loc[k, "p-value"] = stats.wilcoxon(auc.iloc[:, i], auc.iloc[:,j])
    k += 1

In [32]:
w_stat

   model_1    model_2 wilcoxon    p-value
0     C4.5     C4.5+m      6.5  0.0107571
1     C4.5    C4.5+cf       43   0.861262
2     C4.5  C4.5+m+cf       11  0.0159064
3   C4.5+m    C4.5+cf       17  0.0463327
4   C4.5+m  C4.5+m+cf       22   0.327826
5  C4.5+cf  C4.5+m+cf       10  0.0229091

In [33]:
reject, p_corrected, a1, a2 = multipletests(w_stat["p-value"], alpha = 0.05, method = "holm")

In [34]:
w_stat["p_corrected"] = p_corrected
w_stat["reject"] = reject
w_stat

   model_1    model_2 wilcoxon    p-value p_corrected  reject
0     C4.5     C4.5+m      6.5  0.0107571   0.0645428   False
1     C4.5    C4.5+cf       43   0.861262    0.861262   False
2     C4.5  C4.5+m+cf       11  0.0159064   0.0795322   False
3   C4.5+m    C4.5+cf       17  0.0463327    0.138998   False
4   C4.5+m  C4.5+m+cf       22   0.327826    0.655651   False
5  C4.5+cf  C4.5+m+cf       10  0.0229091   0.0916364   False

In [35]:
reject2, p_corrected2, a12, a22 = multipletests(w_stat["p-value"], alpha = 0.05, method = "fdr_bh")

w_stat["p_corrected2"] = p_corrected2
w_stat["reject2"] = reject2
w_stat

,model_1,model_2,wilcoxon,p-value,p_corrected,reject,p_corrected2,reject2
0,C4.5,C4.5+m,6.5,0.0107571,0.0645428,False,0.0458182,True
1,C4.5,C4.5+cf,43,0.861262,0.861262,False,0.861262,False
2,C4.5,C4.5+m+cf,11,0.0159064,0.0795322,False,0.0458182,True
3,C4.5+m,C4.5+cf,17,0.0463327,0.138998,False,0.0694991,False
4,C4.5+m,C4.5+m+cf,22,0.327826,0.655651,False,0.393391,False
5,C4.5+cf,C4.5+m+cf,10,0.0229091,0.0916364,False,0.0458182,True