In [11]:
import pandas as pd
import numpy as np
from scipy import stats

In [5]:
water = pd.read_table("water.txt")
water.head()

C:\ProgramData\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  """Entry point for launching an IPython kernel.

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [6]:
water.corr()

           mortality  hardness
mortality   1.000000 -0.654849
hardness   -0.654849  1.000000

In [12]:
stats.spearmanr(water.mortality, water.hardness)

SpearmanrResult(correlation=-0.6316646189166502, pvalue=4.79546153722838e-08)

In [16]:
water_s = water[water["location"] == "South"]
water_n = water[water["location"] == "North"]

In [17]:
water_s.corr()

           mortality  hardness
mortality   1.000000 -0.602153
hardness   -0.602153  1.000000

In [18]:
water_n.corr()

           mortality  hardness
mortality   1.000000 -0.368598
hardness   -0.368598  1.000000

In [20]:
man_mounth = 239.
man_rare = 515.
girl_mounth = 203.
girl_rare =  718.

In [23]:
bar = np.array([[203.,239.], [718., 515.]])
bar

array([[203., 239.],
       [718., 515.]])

In [24]:
def matthewsr (a,b,c,d):
    return (a*d - b*c) / np.sqrt((a+b)*(a+c)*(b+d)*(c+d))

In [26]:
matthewsr(*bar.flatten())

-0.10900237458678963

In [29]:
stats.chi2_contingency(bar)[1]

1.0558987006638725e-05

In [31]:
data_8 = np.array([[197., 111. ,33.], [382., 685., 331.], [110., 342., 333.]])
data_8

array([[197., 111.,  33.],
       [382., 685., 331.],
       [110., 342., 333.]])

In [35]:
stats.chi2_contingency(data_8)[1]

2.4964299580093467e-62