In [16]:
from sklearn import datasets, linear_model, metrics
import numpy as np
import pandas as pd

In [30]:
data = pd.read_csv('1_2.csv', sep = ";")
data.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [24]:
from statsmodels.stats.weightstats import _tconfint_generic
d_mean = data['mortality'].mean()

In [26]:
d_mean_std = data["mortality"].std(ddof=1)/np.sqrt(len(data["mortality"]))

In [27]:
_tconfint_generic(d_mean, d_mean_std, len(data["mortality"]) - 1, 0.05, 'two-sided')

(1476.0833413552848, 1572.2117406119285)

In [32]:
data2 = data[data["location"] == "South"]

In [34]:
d2_mean = data2['mortality'].mean()
d2_mean_std = data2["mortality"].std(ddof=1)/np.sqrt(len(data2["mortality"]))
_tconfint_generic(d2_mean, d2_mean_std, len(data2["mortality"]) - 1, 0.05, 'two-sided')

(1320.1517462936238, 1433.463638321761)

In [35]:
data3 = data[data["location"] == "North"]

In [36]:
d3_mean = data3['mortality'].mean()
d3_mean_std = data3["mortality"].std(ddof=1)/np.sqrt(len(data3["mortality"]))
_tconfint_generic(d3_mean, d3_mean_std, len(data3["mortality"]) - 1, 0.05, 'two-sided')

(1586.5605251961385, 1680.6394748038613)

In [37]:
data4 = data[data["location"] == "South"]
data5 = data[data["location"] == "North"]

In [38]:
d4_mean = data4['hardness'].mean()
d4_mean_std = data4["hardness"].std(ddof=1)/np.sqrt(len(data4["hardness"]))
_tconfint_generic(d4_mean, d4_mean_std, len(data4["hardness"]) - 1, 0.05, 'two-sided')

(53.467198692036106, 86.07126284642544)

In [39]:
d5_mean = data5['hardness'].mean()
d5_mean_std = data5["hardness"].std(ddof=1)/np.sqrt(len(data5["hardness"]))
_tconfint_generic(d5_mean, d5_mean_std, len(data5["hardness"]) - 1, 0.05, 'two-sided')

(21.42248728572426, 39.37751271427574)